<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Demo.WebService.WinForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Demo.WebService.WinForm.Properties.Settings>
            <setting name="Demo_WebService_WinForm_localhost_CustomerDaoService"
                serializeAs="String">
                <value>http://localhost:1051/AccountDaoService.asmx</value>
            </setting>
        </Demo.WebService.WinForm.Properties.Settings>
    </applicationSettings>
</configuration>