<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bosphorus.BootStapper" version="2.0.2.0" targetFramework="net45" />
  <package id="Bosphorus.Common.Clr" version="2.0.3.0" targetFramework="net45" />
  <package id="Bosphorus.Container.Castle" version="2.0.1.0" targetFramework="net45" />
  <package id="Castle.Core" version="3.3.0" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net45" />
</packages>