<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bosphorus.BootStapper" version="1.1.0.10" targetFramework="net45" />
  <package id="Bosphorus.Common.Clr" version="1.0.0.9" targetFramework="net45" />
  <package id="Bosphorus.Container.Castle" version="1.1.0.19" targetFramework="net45" />
  <package id="Castle.Core" version="3.2.2" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.2.1" targetFramework="net45" />
</packages>